body {
    font-family: 'Arial', sans-serif;

    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
}

.menu{
    padding: 1px;
    background-color: rgba(0,0,0,1);
}

.menu h1{
    font-family: 'fantasy';
    font-size: 3vh;
    text-align: center;
    margin-left: 10px;
}

.section_cv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-size: cover;
    background-image: url("../assets/DcA5LNq.gif");
}

#photo{
    width: 300px;
    padding: 1px;
    justify-content: left;
}
#photo img{
    height: auto;
    width: 270px;
    margin: 15px 5px 15px 5px;
    border-radius: 15px;
    transition: ease 0.3s;
    border: solid navajowhite 3px;
    justify-content: space-around;
    opacity: 90%;
}
#photo img:hover{

    box-shadow: 0 0 0 2px blue;
    opacity: 100%;
}

.container_cv {
    max-width: 800px;
    margin-top: 15px;
    padding: 20px;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 10px;
}

.who\? {
    text-align: center;
    margin-bottom: 20px;
}

.who\? h1 {
    margin: 0;
}

.who\? p {
    margin: 5px 0;
}

.about, .education, .experience, .skills, .languages {
    margin-bottom: 30px;
}

.container_cv section {
    transition: background-color 0.3s ease; cursor: pointer;
}
.container_cv section:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

h2 {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 3px;
}



/*contact section */
.section_contact {
    max-width: 100%;
    background-color: navajowhite;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact_container {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.contact_container button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact_forms button:hover {
    background-color: #45a049;
}
.contact_container{
    margin-left: 10px;
}
.contact_gegevens{
    margin-left: 10px;
}

.section_contact h2 {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}

.contact_gegevens a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.to-top {
    position: fixed;
    right: 26px;
    bottom: 26px;
    width: 36px;
    height: 36px;
    background: rgba(20, 209, 251, 1);
    border-radius: 50% 0 50% 50%;

    z-index: 9;
}


#btn-text{
    color: white;
    position: fixed;
    right: 30px;
    bottom: 33px;
    font-size: 19px;
    z-index: 10;
    text-shadow: 2px 2px 10px aqua;

}
#btn-text:hover {
    color: lightgreen;
}

html {
    scroll-behavior: smooth;
}

